@if (isEditMode)
{
	<td><input @bind="@Name" /></td>
}
else
{
	<td><a href="/categories/@Category.Id">@Category.Name</a></td>
}

<td>

	@if (isEditMode)
	{
		<button @onclick="UpdateCategoryAsync">Save</button>
	}
	else
	{
		<button @onclick="EnterEditMode">Edit</button>
		<button @onclick="RemoveCategory">Remove</button>
	}
</td>
<td>
	@if (isEditMode)
	{
		<button @onclick="ExitEditMode">Cancel</button>
	}
</td>
